<a href="https://colab.research.google.com/github/Dhanisht-iiitdwd/OOP_Python-class/blob/main/InheritanceProblem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class employ:
    def __init__(self, name, salary):
        self.name=name
        self.salary=salary
    def lpa(self,amount):
        self.salary=amount
        print(self.salary)
    def moth_sal(self):
        print(self.salary/12)
       
emp=employ("Rahul", 60000)
print(emp.name)
print(emp.salary)
emp.lpa(720000)
emp.moth_sal()

Rahul
60000
720000
60000.0

In [2]:
class tata:
    pass
class tcs(tata):
    pass
print(issubclass(tcs,tata))

True

In [3]:
# Single-Inheritence
class parent:
    def show(self):
        print("Parent class")
    def ca(self,x,y):
        return x+y
    # de
class child(parent):
    def view(self):
        print("child class")
    def cal(self,x):
        return x*x+2
c=child()
c.view()
c.show()
c.cal(3)
print(c.cal(3))
print(c.ca(3,4))

child class
Parent class
11
7

In [4]:
# Multilevel Inheritence
class A():
    def method_A(self):
        print("IIITDWD")
class B(A): # class 'B' is inheriting 'A'
    def method_B(self):
        print("Name : Dhanisht Kumar")
class C(B): # Class 'C' is inheriting both 'A' and 'B'
    def method_C(self):
        print("Roll_NO : 20bcs040")
d=C()
d.method_C()
d.method_B()
d.method_A()
e=B()
e.method_B()
e.method_A()

Roll_NO : 20bcs040
Name : Dhanisht Kumar
IIITDWD
Name : Dhanisht Kumar
IIITDWD

In [6]:
# Multiple Inheritence
class A():
    def method_A(self):
        print("What is your name ?")
class B():
    def method_B(self):
        print("My name is Harry")
class C():
    def method_C(self):
        print("where do you live ?")
class D(C,B,A): # Inheriting all the above three class 'A', 'B' and 'C'
    def method_D(self):
        print("I lives in Delhi")
R=D()
R.method_A()
R.method_B()
R.method_C()
R.method_D()

What is your name ?
My name is Harry
where do you live ?
I lives in Delhi

In [7]:
# Problem-1
class students:
    def __init__(self):
        pass
    def st1(self,name1,age1,roll1):# Function to contain first student details
        self.name1=name1
        self.age1=age1
        self.roll1=roll1
        print("name 1st student =",self.name1,"\n","age 1st student =",self.age1,"\n",
              "roll no 1st student =",self.roll1)
        print(" ")
         
    def st2(self,name2,age2,roll2):# Function to contain second student details
        self.name2=name2
        self.age2=age2
        self.roll2=roll2
        print("name 2nd student =",self.name2,"\n","age 2nd student =",self.age2,"\n",
              "roll no 2nd student =",self.roll2)
        print(" ")
         
class comp(students): # using INHERITENCE here
    def __init__(self):
        pass
    def compare(self):
        if (self.age1==self.age2):#Function to compare age
            print("Both student have equal age:")
        else:
            print("Ages of both student is not equal:")
name1=input("enter name of 1st student:")
age1=int(input("enter age of 1st student:"))
roll1=input("enter roll_no of 1st student:")
name2=input("enter name of 2nd student:")
age2=int(input("enter age of 2nd student:"))
roll2=input("enter roll_no of 2nd student:")
st=comp()
st.st1(name1, age1, roll1)
st.st2(name2, age2, roll2)
st.compare()

enter name of 1st student:Dhan
enter age of 1st student:20
enter roll_no of 1st student:34
enter name of 2nd student:Ruch
enter age of 2nd student:20
enter roll_no of 2nd student:54
name 1st student = Dhan
 age 1st student = 20
 roll no 1st student = 34

name 2nd student = Ruch
 age 2nd student = 20
 roll no 2nd student = 54

Both student have equal age:

In [8]:
class Player:
    max_pos = 10      
    def __init__(self):
      self.pos = 20 
print(Player.max_pos)     
p = Player()
print(p.max_pos) 
print(p.pos)

10
10
20

In [9]:
class employ:
    def __init__(self, name, salary=80000):
        self.name = name
        self.salary = salary
    def give_raise(self, amount):
        self.salary += amount        
class manager(employ):
    def display(self):
        print("manager ", self.name)
    def __init__(self, name, salary=95000, project=None):
        employ.__init__(self, name, salary)
        self.project = project
    def give_raise(self, amount, bonus=2):  
        new_amount = amount * bonus
        employ.give_raise(self, new_amount)   
m = manager("Ram", 80000)
m.give_raise(2300)
print(m.salary)   # what is the output?
m.give_raise(1000, bonus=3.5)
print(m.salary)

84600
88100.0

In [10]:
class student: 
  def __init__(self):
    self.institute="IITDWD" # Student details
    self.name = "Dhanisht Kumar"
    self.roll="20bcs040"
    self.sem="ODD (3rd)"
    self.devise = self.laptop() 
    
  def show(self): # function to print student details
    print("Institute:",self.institute,"\nName:", self.name,"\nRoll_No:",
          self.roll,"\nSemester:",self.sem,"\n") 
    
  class laptop: 
     def __init__(self): # Student Laptop detail
        self.colour="Mate Black"
        self.cpu = "intel(R)-core(TM)_i7-cpu"
        self.ram = "4GB"
        self.hard_disc="8GB"
        self.price="INR 36000"
     def display(self): # function to print Laptop detail
        print("Laptop Colour:",self.colour,"\nCpu:", self.cpu,"\nRam:", self.ram,"\nHard_Disc_Drive:",self.hard_disc,
              "\nPrice:",self.price)  
print("STUDENT DETAIL BELOW:\n") 
stu = student() # stu -> object of student class
stu.show() 
stu_devise = stu.devise # calling inner function
print("STUDENTS DEVISE DETAIL:\n")
stu_devise.display()

STUDENT DETAIL BELOW:

Institute: IITDWD
Name: Dhanisht Kumar
Roll_No: 20bcs040
Semester: ODD (3rd)

STUDENTS DEVISE DETAIL:

Laptop Colour: Mate Black
Cpu: intel(R)-core(TM)_i7-cpu
Ram: 4GB
Hard_Disc_Drive: 8GB
Price: INR 36000

In [14]:
class My_Birth_Date:
    def __init__(self, year, month, day):       
      self.year=year 
      self.month=month 
      self.day= day    
    # Defining a class method strng
    @classmethod
    def strng(cls, datestr):
     
        parts = datestr.split("-")
        year, month, day = int(parts[0]), int(parts[1]), int(parts[2])
        return cls(year, month, day)        
DOB = My_Birth_Date.strng('2002-10-03')   
print("YEAR:",DOB.year)
print("Month:",DOB.month)
print("Day:",DOB.day,", Monday")

YEAR: 2002
Month: 10
Day: 3 , Monday