<a href="https://colab.research.google.com/github/Dhanisht-iiitdwd/OOP_Python-class/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
#Problem-1
year=int(input("enter the year:"))
if (year%4==0 or year%400==0 and year%100!=0):
  print(year,"is a leap year:", True)
else:
  print(year,"is not a leap year and:", False)

enter the year:2024
2024 is a leap year: True

In [39]:
# Problem-2 
n=int(input("enter the n:"))
if n%2!=0:
  print("Weird")

enter the n:7
Weird

In [40]:
# Problem-2 
list1=[2,3,4,5] 
i=int(input("enter the i:"))
if i in list1:
    if (i%2==0):
        print("Not Weird")
    else:
        print("it is not divisible by two")
else:
  print("Given input not in list1, invalid input")

enter the i:4
Not Weird

In [41]:
# Problem-2 
list1=[6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
i=int(input("enter the i:"))
if i in list1:
    if (i%2==0):
        print("Weird")
    else:
        print("it is not divisible by two")
else:
  print("Given input not in list1, invalid input")

enter the i:18
Weird

In [42]:
# Problem-2 
n=int(input("enter the n:"))
if (n>20 and n%2==0):
  print("Weird")
else:
  print("invalid input")

enter the n:32
Weird

In [30]:
# Problem-3
list1=["anand","barun","shaili","dhanisht","phumy","marry","gopal","harry","kishan"]
print(list1)
l=list1.index("anand") # lower = 0
h=list1.index("kishan") # higher = 8
mid=(l+h)//2 # mid = 4, half of the list
print("mid = ",mid) 
print("All the guest who is fashinable late is:")# The guest coming at least after the mid
for i in range(mid, h, 1):
    fashinable_late_guest = list1.pop(mid)
    print(fashinable_late_guest)

['anand', 'barun', 'shaili', 'dhanisht', 'phumy', 'marry', 'gopal', 'harry', 'kishan']
mid =  4
All the guest who is fashinable late is:
phumy
marry
gopal
harry

In [31]:
#Problem-4
def word_search(list1, keyword):
     
    keyword = keyword.lower().strip('.,')# we are making lowercase and removing punctuation

    result_list = []
    for i, title in enumerate(list1): # using "enumerate" fir iteration
         
        words = title.lower().strip('.,').split()# we are making lowercase and removing punctuation, and then spliting into words

        if keyword in words:
            result_list.append((i, title))

    return result_list

if __name__ == '__main__': # this is used to execute some code only if file was run directly, and not imported.
    doc = [
        'The Learn Python Challenge Dhanisht',
        'Ruchi bought a book, and a pen',
        'Dhanisht is a student at IIITDWD.',
        'Dhanisht completed, you did?',
    ]
    w = 'Dhanisht'

    print(word_search(doc, w)) # will print index and sentence in which "Dhanisht" is involved

[(0, 'The Learn Python Challenge Dhanisht'), (2, 'Dhanisht is a student at IIITDWD.'), (3, 'Dhanisht completed, you did?')]

In [33]:
#Problem-5
def gross_pay(BP):
  DA = BP*0.4
  HRA = BP*0.2
  GP = BP+DA+HRA
  return GP
BP=float(input("enter the basic pay of employee:"))
gross_pay(BP)

enter the basic pay of employee:100000

160000.0